@font-face{
    font-family: rubik;
    src: url("../fonts/Rubik-Light.ttf");
}
html{
    padding: 0px;
}


body{
    font-family: rubik;
    padding: 0px;
    margin: 0px;
}

#imgLogo{
    height: 80px;
}


.cabecera{
    height: 80px;
    background: #ffffff;
    margin: 0px;    
}

.separadorRojo{
    height: 12px;
    width: 100%;
    background-color: #dd1b1b;
    margin: 0px;
    border: 1px transparent solid; 
}


.titulo{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #9ea5a9;
    height: 40px;
    line-height: 40px;
}    

.pie{
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: #dd1b1b;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
}

.ancho100P{
    width: 100%;
    max-width: 100%;
}

.ancho66P{
    width: 66%;
    max-width: 66%;
}


.ancho33P{
    width: 33%;
    max-width: 33%;
}

.divLogin{
    border: 2px solid #444444;
    border-radius: 50px;
    line-height: 40px;    
    margin-top: 50px;
}

.textoAyuda{
    font-size: 13px;
    color: #555555;
    line-height: 18px !important;
    text-align: justify;
}

.linkImportante{
    color: #336699 !important;
    font-weight: bolder;
    text-transform: uppercase;
}

button{
    background-color: #dd1b1b !important;
    color: #FFFFFF !important;
    border: 1px solid #cc1b1b !important;
    height: 42px;
    line-height: 42px;
}

input{
    height: 30px;
    line-height: 30px;
    margin-top: 10px !important;
}

.botonEditar{
    background-color: #cecece !important; 
    color: #336699 !important;   
    border: 1px solid #cecece !important;
    border-radius: 12px;
    margin-left: 10px;
}

.botonEliminar{
    background-color: #cecece !important; 
    color: #dd1b1b  !important;   
    border: 1px solid #cecece !important;
    border-radius: 12px;
    margin-left: 10px;

}

.ui-datatable th.ui-state-default, .ui-datatable tfoot td.ui-state-default {
    background: #9ea5a9 !important;
    border-color: #9ea5a9 !important;
    height: 45px !important;
    color: #FFFFFF !important;
    font-weight: bolder;
    text-transform: uppercase;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px !important;
    overflow: hidden !important;
    border-width: 1px !important;
    border-left: solid 1px transparent !important;
     border-right: solid 1px transparent !important;
    border-bottom: solid 2px #8e8e8e;
}