<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">
    <ui:define name="titulo">
       ADMINISTRACION DE USUARIOS
    </ui:define>

    <ui:define name="contenido">
        <p:panel>
            <p:dataTable var="item"  value="#{maquetadoBean.listaUsuarios}"
                         paginator="true" rows="10" paginatorPosition="bottom">
                <p:column headerText="CEDULA">
                    #{item.cedula}
                </p:column>

                <p:column headerText="Nombre">
                    #{item.nombre}
                </p:column> 

                <p:column headerText="Observaciones">
                    #{item.observaciones}
                </p:column>
                
                <p:column headerText="Acciones">
                    <p:commandButton styleClass="botonEditar" value="Editar" icon="ui-icon-pencil"/>
                    <p:commandButton  styleClass="botonEliminar" value="Eliminar" icon="ui-icon-trash"/>
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>

