<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Maquetado ejercito</title>
        <link href="src/css/styles.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:growl globalOnly="true" showDetail="true"  >
                <p:autoUpdate/>
            </p:growl>

            <p:panel style="background: #dedede">
                <br/>
                <center>
                    SISTEMAS DEL EJERCITO ECUATORIANO
                </center>
                <br/>
            </p:panel>

            <p:panelGrid style="width: 50%" columns="2">
                <h:outputLabel value="Nombre del usuario: " /> 
                <p:inputText style="width: 100%" />

                <h:outputLabel value="Observaciones del usuario: " /> 
                <p:inputTextarea style="width: 100%" />
            </p:panelGrid>


            <p:toolbar>
                <f:facet name="left">
                    <p:selectOneMenu value="#{maquetadoBean.seleccionado}" >
                        <f:selectItem itemValue="0" itemLabel="Seleccione una opcion"/>
                        <f:selectItem itemValue="1" itemLabel="Unidad de SISTEMAS"/>
                        <f:selectItem itemValue="2" itemLabel="Unidad de TELEFONIA"/>
                        <f:selectItem itemValue="3" itemLabel="Unidad de TTHH"/>
                        <f:selectItem itemValue="4" itemLabel="Unidad de QUEJAS"/>
                        <f:selectItem itemValue="5" itemLabel="Unidad de TELECOMUNICACIONS"/>
                    </p:selectOneMenu>
                </f:facet>
                <f:facet name="right">
                    <p:commandButton value="Imprimir" title="Clic para imprimir este chevere boton"  />
                    <p:commandButton value="Guardar" title="Clic para guardar este chevere boton" action="#{maquetadoBean.guardar()}" />
                    <p:commandButton value="Cancelar" title="Clic para cancelar este chevere boton" />
                </f:facet>

            </p:toolbar>

            <p:dataTable var="item"  value="#{maquetadoBean.listaUsuarios}" paginator="true" rows="10" paginatorPosition="bottom">
                <p:column headerText="CEDULA">
                    #{item.cedula}
                </p:column>

                <p:column headerText="Nombre">
                    #{item.nombre}
                </p:column>

                <p:column headerText="Observaciones">
                    #{item.observaciones}
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

