<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">
    <ui:define name="titulo">
        INGRESO DE USUARIOS
    </ui:define>

    <ui:define name="contenido">
        <p:panelGrid layout="grid" columns="2" columnClasses="ancho66P,ancho33P">

            <iframe src="http://geekbucket.com.mx/blog/" style="padding-top: 60px; border: 0px solid transparent" height="500px" width="100%">

            </iframe>

            <p:panel styleClass="divLogin">
                <center>
                    <img height="70" src="src/img/key.png" alt=""/>


                    <p:inputText styleClass="ancho100P" placeholder="Usuario: " />
                    <p:inputText styleClass="ancho100P" placeholder="Contraseña: " />
                    <br/><br/>  
                    <p:commandButton styleClass="ancho100P" value="INICIAR SESION"/>

                    <p class="textoAyuda">
                        Por razones de seguridas al terminar su trabajo cierres sesion y cierre la pestana del navegardor y tambien borre coockies y sala del edificio en silencio
                    </p>

                    <p:commandLink styleClass="linkImportante" value="Ha olvidado su contrasena?"/>

                    <p>
                        <b>Administrado de Correo Institucional: 5898587458</b>
                    </p>

                    <p>
                        <b>SOporte Tecnico: 5898587458</b>
                    </p>
                    <p>
                        <b>Depto de Seguridad: 5898587458</b>
                    </p>
                </center>
            </p:panel>


        </p:panelGrid>
    </ui:define>

</ui:composition>

