<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Maquetado ejercito</title>
        <link href="src/css/styles.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:growl globalOnly="true" showDetail="true"  >
                <p:autoUpdate/>
            </p:growl>

            <div class="cabecera">
                <center>
                    <img id="imgLogo" src="src/img/logo.png" alt=""/>
                </center>
                <br/>
            </div>
            <hr class="separadorRojo"/>
            <div class="titulo">
                <ui:insert name="titulo"></ui:insert>
            </div>
            
            <div class="contenedor">
                <ui:insert name="contenido"></ui:insert>
            </div>

            <div class="pie">
                Derechos Reservados Ejercito Ecuatoriano
            </div>
        </h:form>
    </h:body>
</html>

